*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
  height: auto;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 1vw;
  color: #333333;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background-color: #ffffff;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 9.89vw;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  width: 100%;
  margin-top: 3.5vw;
  position: fixed;
  margin-bottom: 23.9vw;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.header_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header_logo {
  display: block;
  width: 12vw;
  box-sizing: content-box;
}
.header_info {
  justify-content: end;
  margin-top: 0.5vw;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.header_phone {
  margin-bottom: 5px;
}
.header_phone a {
  color: #333333;
  font-weight: 500;
  font-size: 1.6vw;
}
.header_address a {
  color: #333333;
  font-size: 1.04vw;
  line-height: 1.44vw;
}
.header_email a {
  color: #cf3e28;
  margin-right: 0.3vw;
}

.about {
  position: fixed;
  margin-top: 13.3vw;
}
.about_item {
  margin-bottom: 2.33vw;
  font-size: 1.6vw;
  line-height: 2.15vw;
  letter-spacing: 0.005vw;
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}
.about_item:last-child {
  margin-bottom: 0;
}

.word {
  margin-top: 32.1vw;
  z-index: 100;
}
.word_container {
  position: relative;
}
.word_img {
  width: 100%;
}
.word_items {
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 66.6vw;
  height: 38.3vw;
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  width: 100%;
  height: 100%;
}
.swiper-slide img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.word-about {
  background-color: #e1e5e6;
  padding-bottom: 4.3vw;
}
.word-about_container {
  display: flex;
  flex-direction: column;
  padding: 0 4.7vw;
}
.word-about_items {
  margin-top: 3.1vw;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 1.3vw;
}
.word-about_items:last-child {
  margin-bottom: 0vw;
  margin-top: 0;
}
.word-about_items:last-child .word-about_items_item {
  padding-top: 3vw;
}
.word-about_item {
  border-radius: 1vw;
  width: 29vw;
  height: 13.2vw;
  background-color: #ffffff;
  padding: 1.8vw 0 0 1.8vw;
}
.word-about_header {
  font-size: 1.6vw;
  line-height: 1.8vw;
  font-weight: 500;
  margin-bottom: 0.5vw;
}
.word-about_text {
  font-weight: 400;
  font-size: 1.3vw;
  margin-right: 0.1vw;
  line-height: 1.61vw;
  color: #666666;
}

.excel {
  background-color: #dcdddd;
}
.excel_container {
  position: relative;
}
.excel_img {
  width: 100%;
}
.excel_items {
  position: absolute;
  top: 52.1%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  width: 57.9vw;
  height: 32.2vw;
}
.excel-about_img {
  width: 100%;
}

.advantages {
  background-color: #414244;
}
.advantages_container {
  margin: 0 auto;
  color: #ffffff;
}
.advantages_header {
  margin-top: 4.5vw;
  padding-bottom: 2.2vw;
  font-weight: 400;
  font-size: 2.5vw;
  letter-spacing: 0.06vw;
}
.advantages_item {
  line-height: 2.1vw;
  font-weight: 400;
  font-size: 1.58vw;
  margin-bottom: 2.3vw;
  position: relative;
}
.advantages_item::before {
  content: "";
  position: absolute;
  top: 0.9vw;
  left: -2vw;
  z-index: 10;
  width: 1vw;
  height: 0.1vw;
  background-color: #ffffff;
}

.footer {
  background-color: #414244;
  padding-bottom: 5vw;
}
.footer_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4vw;
  padding: 0 8.8vw;
}
.footer_logo {
  display: block;
  width: 12vw;
  box-sizing: content-box;
  margin-top: -0.3vw;
  margin-left: 1vw;
}
.footer_contact {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer_text {
  color: #7d8082;
  font-size: 2.5vw;
  margin-right: 1.1vw;
  margin-top: -0.5vw;
  letter-spacing: 0.06vw;
}
.footer_phone {
  margin-top: -1vw;
}
.footer_phone a {
  color: #ffffff;
  font-weight: 400;
  font-size: 2.8vw;
  margin-right: 1.3vw;
  letter-spacing: -0.07vw;
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

.wow {
  visibility: hidden;
}

.visible {
  display: block;
}

@media (max-width: 1080px) {
  ._container {
    padding: 0 5.1vw;
  }
  .header {
    position: static;
    margin-bottom: 5.5vw;
  }
  .header_logo {
    width: 35vw;
  }
  .header_info {
    margin-top: -1.5vw;
  }
  .header_phone {
    margin-top: 5vw;
    margin-bottom: 3.5vw;
  }
  .header_phone a {
    font-size: 3.65vw;
    line-height: 3vw;
  }
  .header_address a {
    font-size: 2.73vw;
    line-height: 1vw;
  }
  .header_email {
    margin-top: 0.7vw;
  }
  .header_email a {
    font-size: 2.74vw;
  }
  .about {
    position: static;
    margin-top: 0;
    margin-bottom: 9.4vw;
  }
  .about_item {
    font-size: 3.4vw;
    line-height: 5.6vw;
    letter-spacing: 0.18vw;
    margin-bottom: 5.4vw;
  }
  .about_br {
    display: none;
  }
  .word {
    background-color: #2083d0;
    height: 63vw;
    margin-top: 0vw;
  }
  .word_img {
    display: none;
  }
  .word_items {
    transform: translate(-50%, 10%);
    width: 90vw;
    height: 51.7vw;
    border-radius: 2vw;
  }
  .word-about {
    padding-top: 5.3vw;
    background-color: #e1e5e6;
  }
  .word-about_item {
    height: 38.6vw;
    width: 85vw;
    margin-left: 5vw;
    margin-right: 5vw;
    padding-top: 4.5vw;
    padding-left: 4.7vw;
    border-radius: 2vw;
  }
  .word-about_header {
    font-size: 4.7vw;
    line-height: 5.2vw;
    letter-spacing: -0.04vw;
    margin-bottom: 1.9vw;
  }
  .word-about_text {
    font-size: 4.1vw;
    line-height: 4.6vw;
    letter-spacing: -0.2vw;
  }
  .swiper-wrapper {
    padding-right: 5vw !important;
    margin-bottom: 4vw;
  }
  .swiper-pagination {
    position: static !important;
  }
  .swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 2vw)) !important;
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 2vw)) !important;
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 0.6vw) !important;
  }
  .excel {
    height: 61vw;
    background-color: #5b895f;
    margin-top: -1vw;
  }
  .excel_img {
    display: none;
  }
  .excel_items {
    width: 89.9vw;
    height: 50.1vw;
    transform: translate(-50%, 10%);
  }
  .advantages_header {
    margin-top: 9.2vw;
    padding-bottom: 3.4vw;
    font-size: 4.5vw;
    margin-left: 4.7vw;
  }
  .advantages_item {
    line-height: 4.6vw;
    font-weight: 400;
    font-size: 3.35vw;
    margin-bottom: 4.7vw;
    margin-left: 4.7vw;
  }
  .advantages_item::before {
    top: 2.1vw;
    left: -4.6vw;
    z-index: 10;
    width: 2.1vw;
    height: 0.1vw;
  }
  .footer_container {
    flex-direction: column-reverse;
  }
  .footer_text {
    font-size: 4.6vw;
    margin-right: 2.5vw;
    margin-top: -1.9vw;
    margin-left: 0.7vw;
  }
  .footer_phone {
    margin-top: -2.4vw;
  }
  .footer_phone a {
    font-size: 4.5vw;
  }
  .footer_logo {
    margin-top: 8.5vw;
    width: 30.2vw;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */